.drop {
    button{
        min-width:160px;
        &:hover {
            color: black;
        }
        &:focus {
            color: black;
        }
    }
    .dropdown-menu {
        a {
            color: black;
            text-decoration: none;
        }
    }
}
